body {
    margin: 0.0000001em;
    background: cornsilk;
    font-family: sans-serif;
    text-align: left;
}
* {
    margin-left: auto;
    margin-right: auto;
}
.article__lead {
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    font-family: serif;
}
.figure__image {
    position: relative;
    height: auto;
    max-width: 100%;
}
.figure__caption {
    margin-top: 16px;
    font-style: italic;
}
.article {
    max-width: 680px;
    padding: 24px;
}
[class="article"] > h1 {
    margin: 0 0 24px 0;
    color: palevioletred
}